.rating {
  &__container {
    & h2 {
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__summary {
    margin-bottom: 20px;
  }

  &__button {
    margin: 10px auto;
    text-align: center;

    & button {
      padding: 7px 30px;
      background-color: $bg-gray;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 15px;
      -webkit-box-shadow: 3px 4px 8px -1px #dddddd;
      -moz-box-shadow: 3px 4px 8px -1px #dddddd;
      box-shadow: 3px 4px 8px -1px #dddddd;
      cursor: pointer;
    }
  }
}
