$bg-gary: #f7f7f7;
$border-radius: 7px;
$color-green: #4fa095;
.bus-route {
  padding: 0px 0px 0px 20px;

  &__search {
    margin-right: 20px;

    & input {
      width: 100%;
      height: 42px;
      padding: 0 10px 0 15px;
      border-radius: $border-radius;
      border: none;
      background-color: $bg-gary;
      outline: none;
      border: 1px solid #fff;

      &:focus {
        border: 1px solid $color-green;
      }
    }
  }

  &__list--container {
    margin: 20px 5px 0 0;
    max-height: calc(100vh - 180px);
    overflow-y: auto;

    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #cecdcd;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: $bg-gary;
      border-radius: 10px;
    }
  }

  & .loader-container {
    height: calc(100vh - 200px);
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;

    & .loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite;
    }
    & .loader::before,
    .loader::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #fff;
      animation: prixClipFix 2s linear infinite;
    }
    & .loader::after {
      transform: rotate3d(90, 90, 0, 180deg);
      border-color: $color-green;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes prixClipFix {
      0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
      }
      50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
      }
      75%,
      100% {
        clip-path: polygon(
          50% 50%,
          0 0,
          100% 0,
          100% 100%,
          100% 100%,
          100% 100%
        );
      }
    }
  }
}
