.admin-header {
  display: flex;
  padding: 0;
  width: 100%;
  height: 48px !important;
  line-height: 48px !important;
  background: $bg-green !important;
  padding-inline: 0 !important;
}

.admin-header-logo {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  padding: 0 8px;
  width: 208px;
  height: 48px;
  line-height: 48px;

  span {
    margin: 0 0 0 8px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
  }

  img {
    height: 38px;
    border-radius: 50%;
  }
}

.admin-header-nav {
  display: flex;
  justify-content: end;
  flex: 1;
}

.admin-header-right {
  display: flex;
  padding: 0 12px;
}

.header-user {
  color: #fff;
  cursor: pointer;
}
