.sidebar {
  height: calc(100vh - 55px);
  display: flex;
  position: relative;

  &__main {
    overflow: hidden;
    width: 420px;
    transition: 0.2s ease-in-out;

    &.is-collapse {
      width: 0px;
      transform: translateX(-100%);
      visibility: hidden;
    }
  }

  &__control {
    position: absolute;
    width: 15px;
    height: 60px;
    right: -15px;
    top: 45%;
    transform: translateY(-50%);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    background: $cl-green-dark;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    & svg {
      width: 7px;
      color: #fff;
      transform: translateX(-20%);

      &.is-collapse {
        rotate: 180deg;
      }
    }
  }
}
