.station {
  margin-top: 40px;
  position: relative;
  font-size: 14px;

  &__item {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;

    &:first-child {
      & .outer-dot .dot {
        background-color: $cl-green;
      }
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
      & .outer-dot .dot {
        background-color: $cl-green;
      }
    }

    & .outer-dot {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;

      & .dot {
        width: 7px;
        height: 7px;
        border-radius: 50px;
        background-color: $bg-gray-disable;
      }

      &.selected {
        border-radius: 50px;
        background-color: #00897b31;

        & .dot {
          background-color: $cl-green;
          z-index: 2;
        }
      }
    }
  }

  & .dot-line {
    position: absolute;
    height: calc(100% - 30px);
    width: 1px;
    background-color: $bg-gray-disable;
    top: 0;
    left: 10.5px;
    margin: 15px 0;
  }
}

.option-station {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: $bg-white;
  width: 100%;
  z-index: 3;
  padding-bottom: 7px;
}
