.wrapper {
  background: #f4f4f4;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 1 1 max(50%, 500px);
  }

  &__item.illustration {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 400px;
      height: min(400px, 80vh);
    }
  }
}

.account__wrapper {
  background: #fff;
  height: 100%;
  border-radius: 8px;
  padding: 30px 40px;

  .title {
    font-size: 26px;
    font-weight: 500;
    color: #2f2f2f;
    text-align: center;
  }

  .form__container {
    padding: 50px;
  }

  .button__summit {
    margin-top: 30px;
    text-align: center;
  }

  .nav__home {
    margin-top: 10px;
    text-align: center;

    a {
      color: #6358dc;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form__item {
  margin-bottom: 8px;
}
