.container {
  margin: 10px 0px 10px 10px;

  & .tab {
    display: flex;
    height: 44px;
    padding: 0 5px;
    margin-right: 20px;
    align-items: center;
    background-color: $bg-gray;
    border-radius: 7px;

    & .tab-item {
      flex-grow: 1;
      padding: 5px;
      margin: 0 5px;
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.1s;
      font-size: 14px;

      &:hover {
        background-color: #fff;
      }

      &:global(.active) {
        color: #fff;
        background-color: $cl-green;
      }
    }
  }

  & .main {
    margin-top: 10px;
    padding-right: 15px;
    margin-right: 5px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: $bg-gray;
      border-radius: 10px;
    }
  }
}
