// colors
$bg-white: #ffffff;
$bg-green: #7d8f69;
$bg-gray: #f7f7f7;
$bg-gray-disable: #bdbec2;

$cl-white: #ffffff;
$cl-green: #557153;
$cl-green-dark: #425f57;
$cl-yellow-star: #ffc107;
// height
$header-height: 55px;

$border-radius-light: 7px;

$scrollbar-thumb: #cecdcd;
